
/*navigation style*/
#wrapper header .navbar-inverse {
    background-color: #6E3667;
    border-color: #6E3667;
}

#nav-controls-container {
    font-size: 16px;
    font-weight: bold;
}

#nav-controls-container ul .dropdown-toggle {
    background-color: #6E3667;
}

#nav-controls-container ul .dropdown-toggle:hover {
    background-color: #4c063f;
}

#nav-controls-container ul li a:hover {
    background-color: #4c063f;
}

#nav-controls-container ul .dropdown .dropdown-menu li a:hover {
    color: #fff;
    background-color: #535353;
}

#cart-nav-button {
    position: relative;
    right: 0px;
    top: 8px;
}

.shopping-cart {
    background-color: #88D317;
}

.navbar-nav>li {
    margin: 2px;   
}

ul li .badge {
    color: #fff;
    background-color: #f00;
    /*margin-left:2px;*/
    position: relative;
    right: 10px;
    top: 22px;
}
/*end navigation style*/

/*login register style*/
#loginFormContainer form div input {
    margin-bottom: 10px;
}

#loginFormContainer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#loginFormContainer div {
    background-color: #efe7d5;
}
/*end login register style*/

/*product details style*/
#product-details {
    display: flex;
    align-content: center;
}

.product-info {
    background-color: #f5f5f5;
    padding: 15px;
    margin: auto;
}

.product-info img {
    width: 200px;
    float: left;
    margin-right: 10px;
    clear: both;
}

.product-info p {
    text-align: justify;
}
/*end product details style*/

#wrapper {
    padding: 0;
}

main {
    padding: 0 15px 60px 15px;
    margin-bottom: 20px;
}

#message-container {
    top: 10px;
    right: 10px;
    opacity: 0.85;
    position: fixed;
    z-index: 10;
}

/*slider style*/
#slider-container {
    width: 70%;
    margin: auto;
}

img {
    width: 100%;
}

.carousel-inner img {
    margin: auto;
}
/*end slider style*/

/*product list style*/
#filter {
    padding: 10px;    
    background: #f8eee7;   
}

.sub-filter {
    padding-left: 20px;
}

.product-list-item {
    border: 1px solid #fff;
    background-color: #2A1B3D;
    color: #fff; 
    padding: 1px 1px 1px 1px;  
}

.product-list-item h4 {
   margin: 5px;
} 

.product-list-item img {
    width: 180px;
    height: 230px;
}

.product-list-item div {
   padding: 2px;
}

.product-name {
    height: 40px;
}

#msg-box {
    font-size: 22px;
    color:#5bc0de;
    font-weight: bold;
}
/*end product list style*/

/*breeds styles*/
#breed-item {
    margin: 5px;
    width: 300px;
    height: 300px;
}

#breed-item img {   
    height: 200px;
}

#breed-item p {
    margin: 10px;
}

#breed-item a {
    margin: 5px;
}

.breed-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#stars-1 .star.star-1 {
    background-color: purple;
}

#stars-2 .star.star-1, #stars-2 .star.star-2 {
    background-color: purple;
}

#stars-3 .star.star-1, #stars-3 .star.star-2, #stars-3 .star.star-3 {
    background-color: purple;
}

#stars-4 .star.star-1, #stars-4 .star.star-2, #stars-4 .star.star-3, #stars-4 .star.star-4 {
    background-color: purple;
}

#stars-5 .star.star-1, #stars-5 .star.star-2, #stars-5 .star.star-3, #stars-5 .star.star-4, #stars-5 .star.star-5 {
    background-color: purple;
}

div.star {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
}

.el-inline {
    display: inline-block;
    margin: 0;
}

div.el-inline {
    float: right;
}

.fb-share-btn{
    cursor: pointer;
    width: 80px;
    height: 30px; 
    display: inline-block;
};
/*end breed style*/

/*shopping cart style*/
.cart-img img {
    width: 50px;
}

.buy {
    background-color: #95a4bc;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

.shopping-cart-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
/*end shopping cart style*/

/*customize components styles*/
.shadow {
    position: relative;
}

.shadow:before,
.shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.shadow:after {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    right: 10px;
    left: auto;
}

/*radio btn*/
.button-label {
    display: inline-block;
    padding: 1em 1em;
    margin: 0.5em;
    width: 270px;
    cursor: pointer;
    background: #efefef;
    border-radius: 0.25em;
}

.custom-radio + .button-label:hover {
    filter: brightness(85%);
    box-shadow: 0 3px 10px #3c763d;
}

.custom-radio:checked + .button-label:hover {
    filter: brightness(85%);
    box-shadow: 2px 3px 10px #2775d8;
}

.custom-radio:checked + .button-label {
    background: #4183D7;
    color: #fff;
}

.hidden {
  display: none;
}
/* end customize components styles*/

/*best pet cat/dog questions*/
.questions {
    background-color: #fff;
    padding: 15px;
    margin: auto;
    box-shadow: 0 -3px 10px #777;
    
}

#questions {
    display: flex;
    justify-content: center;
}

.questions-header {
    color:#3c763d;
    font-weight: bold;
}
/*end best pet cat/dog questions*/

 /*best-pet */
#dog-or-cat-header {
    color: #8cc63e;
    text-align: center;
    font-weight: bold;
}

#cat-dog-radio {
    display: flex;
    justify-content: center;
}

#cat-dog-radio div{
    background-color: #6E3667 ;
    padding: 20px 0 20px 40px;
}
#holder {
    width: 200px;
    height: 130px;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
#dog-lbl > input + div{ /* IMAGE STYLES */
  cursor:pointer;
  /*border:2px solid transparent;*/
   background: url('../images/best-pet-imgs/dog.png');
   background-repeat: no-repeat;
  
}
#dog-lbl > input:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
   background: url('../images/best-pet-imgs/dog-selected.png');
   background-repeat: no-repeat;
}


#cat-lbl > input + div{ /* IMAGE STYLES */
  cursor:pointer;
  /*border:2px solid transparent;*/
   background: url('../images/best-pet-imgs/cat.png');
   background-repeat: no-repeat;
  
}
#cat-lbl > input:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
   background: url('../images/best-pet-imgs/cat-selected.png');
   background-repeat: no-repeat;
}
/*label > input:checked > div #dog-img {
    visibility: hidden;
}*/



 /*end best-pet  */


/*footer style*/

footer {
    color: #fff;
    background-color: #6E3667;
    height: 50px;
    text-align: center;
}

footer p a {
    color: #9d9d9d;
}

footer p a:hover {
    color: #fff;
    background-color: #4c063f;
    cursor: pointer;
    text-decoration: none;
}


/*end footer style*/