<section id="food-details" class="row">
    <div class="food-info shadow col-lg-6 col-md-7 col-sm-10 col-xs-11">
        <h4>{{name}}</h4>
        <img src={{imageURL}} alt="food" class="img-responsive">
        <span>Description:</span>
        <p>{{description}}</p>
        <div class="col-lg-8 col-xs-11">           
            <div><span>Price:</span> <span>{{price}} BGN</span></div>
            <button id="add-to-cart-button" class="btn btn-info" type="button">Add</button>
        </div>
    </div>
</section>