<section id="cat-dog-radio" class="col-lg-5">

    <div>
        <label id="dog-lbl">
        <input id="btn-dog" type="radio" name="animal" value="dog" />
        <div id="holder">
        </div>
    </label>
        <label id="cat-lbl">
        <input id="btn-cat" type="radio"  name="animal" value="cat" />
        <div id="holder">
        </div>
    </label>

    </div>

    <button id="btn-continue" class="btn btn-success">Continue</button>
</section>