<section>
    <h4>Dog statistics</h4>
    <div>
        <div>
            <input id="intelligent" type="radio" name="breed">
            <label for="intelligent">most intelligent dog breeds</label>
        </div>
        <div>
            <input id="families" type="radio" name="breed">
            <label for="families">best dogs for families with children</label>
        </div>
        <div>
            <input id="appartment" type="radio" name="breed">
            <label for="appartment">best appartment-friendly dogs</label>
        </div>
        <button id="search-best" class="btn btn-success">Search</button>
    </div>
</section>