<section id="questions" class="row">
    <div class="questions shadow col-lg-6 col-md-7 col-sm-10 col-xs-11">
        <h4>Dog statistics</h4>
        <div>
            <input id="intelligent" class="hidden radio-label custom-radio" value="1" type="radio" name="breed">
            <label class="button-label" for="intelligent">most intelligent dog breeds</label>
        </div>
        <div>
            <input id="families" class="hidden radio-label custom-radio" value="2" type="radio" name="breed">
            <label class="button-label" for="families">best dogs for families with children</label>
        </div>
        <div>
            <input id="appartment" class="hidden radio-label custom-radio" value="3" type="radio" name="breed">
            <label class="button-label" for="appartment">best appartment-friendly dogs</label>
        </div>
        <button id="search-best" class="btn btn-success">Search</button>
    </div>
</section>