<h2 id="dog-or-cat-header">Dog or Cat</h2>
<section id="cat-dog-radio" class="row">
    <div class="shadow col-lg-5 col-md-6 col-sm-8 col-xs-12">
        <div>
            <label id="dog-lbl">
        <input id="btn-dog" type="radio" name="animal" value="dog" />
        <div id="holder">
        </div>
    </label>
            <label id="cat-lbl">
        <input id="btn-cat" type="radio"  name="animal" value="cat" />
        <div id="holder">
        </div>
    </label>

        </div>

        <button id="btn-continue" class="btn btn-success">Continue</button>
    </div>
</section>