<section>
    <h4>Cat statistics</h4>
    <div>
        <div>
            <input id="best-cat" type="radio" name="breed">
            <label for="best-cat">best cats for families with children</label>
        </div>
        <div>
            <input id="low-maintenance" type="radio" name="breed">
            <label for="low-maintenance">low-maintenance cats</label>
        </div>
        <button class="btn btn-success">Search</button>
    </div>
</section>