<section id="questions" class="row">
    <div class="questions shadow col-lg-6 col-md-7 col-sm-10 col-xs-11">
        <h4 class="questions-header">Cat statistics</h4>

        <div>
            <input id="best-cat" class="hidden radio-label custom-radio" value="1" type="radio" name="breed">
            <label class="button-label" for="best-cat">best cats for families with children</label>
        </div>
        <div>
            <input id="low-maintenance" class="hidden radio-label custom-radio" value="2" type="radio" name="breed">
            <label class="button-label" for="low-maintenance">low-maintenance cats</label>
        </div>
        <button id="search-best" class="btn btn-success">Search</button>

    </div>
</section>