 {{!--TODO: change id of the div "test" here and in the style.css--}}
<div id="test">
        <section class="food-info shadow">
            <img src="food.jpg" alt="food picture">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a est erat. Vestibulum elit elit, feugiat ultricies
                faucibus sit amet, viverra non eros. Fusce vestibulum pharetra tellus, a lobortis felis rutrum vitae. Ut
                vel mi lacinia, faucibus mauris varius, laoreet lorem. Etiam auctor nec nibh eget euismod. Aliquam eleifend
                lectus, faucibus sit amet, viverra non eros. Fusce vestibulum pharetra tellus, a lobortis felis rutrum vitae.
                Ut vel mi lacinia, faucibus mauris varius, laoreet lorem. Etiam auctor nec nibh eget euismod. Aliquam eleifend
                lectus.
            </p>
            <div>
                <span>Price: $55</span><button class="btn btn-info" type="button">Add</button>
            </div>
        </section>
    </div>