<div class="row" id="loginFormContainer">
    <div class="shadow col-lg-6 col-md-7 col-sm-8 col-xs-11">
        <form action="">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-11 form-group" id="login">
                <label>Log in:</label>
                <input class="form-control" type="text" name="" placeholder="email" id="sign-in-email" required>
                <input class="form-control" type="password" placeholder="password" id="sign-in-password" required>
                <button class="btn btn-success" type="button" id="sign-in-btn">Sign In</button>
            </div>
        </form>

        <form action="">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-11 form-group" id="register">
                <label>Register:</label>
                <input class="form-control" type="text" placeholder="email" id="sign-up-email" required="true">
                <input class="form-control" type="password" placeholder="password" id="sign-up-password" required="true">
                <input class="form-control" type="password" placeholder="repeat password" id="sign-up-repeat-password" required="true">
                <input class="form-control" type="text" placeholder="First name" id="user-first-name" required="true">
                <input class="form-control" type="text" placeholder="Last name" id="user-last-name" required="true">
                <button class="btn btn-primary" type="button" id="sign-up-btn">Register</button>
            </div>
        </form>
    </div>
</div>